<h1>Projects</h1>
<!--
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'New article', new_article_path %>


<div class="list-group clearfix">
  <% @articles.each do |article| %>
  <a href="<%= edit_article_path(article) %>" class="list-group-item">
    <span class="pull-right">
      <img src="/assets/blog/ledraspi.jpg" class="rounded" width="100" height="100" >
    </span>
    <h4 class="list-group-item-heading"><%= article.title %></h4>
    <p class="list-group-item-text">List Group Item Text</p>
  </a>
  <% end %>
</div>


</br>
-->
<% @articles.each do |article| %>
<div id="products" class="row list-group">
    <div class="item  col-xs-12 col-lg-12">
        <div class="thumbnail">
            <img class="group list-group-image" src="/assets/blog/ledraspi.jpg" alt="" width="100%" height="50%" />
            <div class="caption">
              <a href="href="<%= article_path(article) %>">
                <h4 class="group inner list-group-item-heading">
                    <%= article.title %></h4>
                <p class="group inner list-group-item-text">
                    </p>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <!--
                        <a class="btn btn-success" href="<%= article_path(article) %>">Add to cart</a>
                      -->
                    </div>
                </div>
              </a>
            </div>
        </div>
    </div>
</div>
<% end %>
