<h1><%= @article.title %></h1>
  <p>
    <%= @article.text.html_safe %>
  </p>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_article_path(@article) %> |
    <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
    <%= link_to 'Back', articles_path %>
</br></br>

  <hr>
  <h4>Comments</h4>
  <%= render @article.comments %>
  </br>
  <h4>Add a comment:</h4>
  <%= render 'comments/form' %>
  <%= link_to 'Back', articles_path %>
