
<!-- This area runs through the skills that have been entered in the database. To figure out correct divider for better looks -->
<!--
<h3>Skills: </h3>
<p>
<% @skills.each_with_index do |t, index| %>
  <font style=" color: <%= t.rgb_for_current_rank(t.skill_rank - 1) %>;"><%= t.name %></font>
  <% if index == @skills.size - 1 %>
    &nbsp;
    <% else %>
    -
  <% end %>
<% end %>
</p>

<p>
<h3>Skills: </h3>
<p>



</p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 offset-md-3">
      <div align="center">
        <table width="100%" class="table-bordered table-responsive">
          <thead>
              <th colspan="5">
                <div style="float: left;">Proficient</div>

                <div style="float: right;" >Learning</div>
              </th>
          </thead>
            <tr>
              <!-- TODO This needs to be changed to a global variable
              <% x = [
                    "rgb(0, 153, 51)",
                    "rgb(13,201,247)",
                    "rgb(127,127,127)",
                    "rgb(240,91,71)",
                    "rgb(237,28,36)"
                  ] %>
              <% x.each_with_index do |r, index| %>
                <td align="center" style="opacity: 0.4; background-color: <%= r %>;">&nbsp;</td>
                <% end %>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>
-->
<h3>Skills: </h3>
<table width="100%" class="table-bordered table-responsive">
    <tr>
        <td width="30%">

          1 = Able to create 'Hello World'</br>
          5 = Able to build a full application</br>
          and capible of teaching others
        </td>
        <td>
          <% @skill_levels.each_with_index do |t, index| %>
            <% @skills_by_rank = Skill.where('skill_rank = ?', t[0]) %>
              <%= t[0]%> -
              <% @skills_by_rank.each_with_index do |sr, index| %>
                <% if index == @skills_by_rank.size - 1 %>
                    <%= sr.name %> &nbsp;
                <% else %>
                  <%= sr.name %> -
                <% end %>
              <% end %>
              </br>
          <% end %>
        </td>
    </tr>
</table>

<h3>Introduction: </h3>
    <p>
    Over several years I have been fortunate to have had many roles and positions:
    </p>

    <p>
    Personal development: I have started to create an application that currently comprises of Ruby on Rails, Ubuntu, sqLite. This application is a basic customer management system for property maintenance. The design I have is around booking in jobs and employees, logging time on those jobs and eventually invoice management. I can provide a demonstration of this project if required.
    </p>

    <p>
    With this personal application I have been able to grasp the basic fundamentals of Ruby on Rails and I have implemented small dashboard notification system within my current workplace (Azure driven).
    </p>

    <p>
    I am Proficient in Linux based operating systems (mainly Debian and Ubuntu) and virtual private server deployment.
    </p>

    <p>
    Coding in my current position has comprised of MSSQL, SSIS business analytics (company analytic cube based on ticketing system) and small amounts of: MYSQL, sqLite, Ruby on Rails and Java. In my own time I have been learning Ruby On Rails and Meteor for a second personal application I am wanting to develop. It is vital in my mind to stick with best practices and industry standards when writing an application.
    </p>

    <p>
    The many roles I have undertaken by my current employer, as a small business, has given me the ability to think on my feet and provide solutions quickly and efficiently.
    </p>

    <p>
    Project Management in my current position is vital to ensure that the customer satisfaction is always high.
    </p>

    <p>
    Quality assurance and best practice is always a driving factor when implementing new reporting design or business analytics.
    </p>

    <p>
    Communication skills that I have gained over the years, and in my current position as Service Desk Manager, combines engaging with my team and customers on a daily basis including escalations and problem solving.
    </p>

    <p>
    Currently I am learning and implementing Dynamics 365 as our company’s content management system and overseeing that company wide process, procedures and standards are met. Prior to this I implemented Autotask as the company case management system.
    </p>

    <p>
    My personal development with ruby on rails has been a challenge however, the satisfaction I have received from creating something out of nothing and providing simple systems that save so much time is an amazing feeling. This is what is driving me to pursue a career in software development and in particular Ruby on Rails.
    </p>

    <p>
    I will be further pursuing my studies within software development as I have a strong drive for creativity.
    </p>

<%= render 'testspoton'%>
