
<!-- This area runs through the skills that have been entered in the database. To figure out correct divider for better looks -->
<!--
<h3>Skills: </h3>
<p>
<% @skills.each_with_index do |t, index| %>
  <font style=" color: <%= t.rgb_for_current_rank(t.skill_rank - 1) %>;"><%= t.name %></font>
  <% if index == @skills.size - 1 %>
    &nbsp;
    <% else %>
    -
  <% end %>
<% end %>
</p>

<p>
<h3>Skills: </h3>
<p>



</p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 offset-md-3">
      <div align="center">
        <table width="100%" class="table-bordered table-responsive">
          <thead>
              <th colspan="5">
                <div style="float: left;">Proficient</div>

                <div style="float: right;" >Learning</div>
              </th>
          </thead>
            <tr>
              <!-- TODO This needs to be changed to a global variable
              <% x = [
                    "rgb(0, 153, 51)",
                    "rgb(13,201,247)",
                    "rgb(127,127,127)",
                    "rgb(240,91,71)",
                    "rgb(237,28,36)"
                  ] %>
              <% x.each_with_index do |r, index| %>
                <td align="center" style="opacity: 0.4; background-color: <%= r %>;">&nbsp;</td>
                <% end %>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<h3>Skills: </h3>
<table width="100%" class="table-bordered table-responsive">
    <tr>
        <td width="30%">
          1 = Able to create 'Hello World'</br>
          5 = Able to build a full application</br>
          and capible of teaching others</br>
        </td>
        <td>
          <% @skill_levels.each_with_index do |t, index| %>
            <% @skills_by_rank = Skill.where('skill_rank = ?', t[0]) %>
              <%= t[0]%> -
              <% @skills_by_rank.each_with_index do |sr, index| %>
                <% if index == @skills_by_rank.size - 1 %>
                    <%= sr.name %> &nbsp;
                <% else %>
                  <%= sr.name %> -
                <% end %>
              <% end %>
              </br>
          <% end %>
        </td>
    </tr>
</table>
-->
<div class="row">

  <div class="col-md-12">

<h3><b>SKILLS </b></h3>
<table width="100%" class="table-responsive">
      <tr>
        <td  style="text-align: left;">
          <% @skill_levels.each_with_index do |t, index| %>
            <% @skills_by_rank = Skill.where('skill_rank = ?', t[0]) %>
            <p>
              <b><%= t[0]%> </b>-
              <% @skills_by_rank.each_with_index do |sr, index| %>
                <% if index == @skills_by_rank.size - 1 %>
                    <%= sr.name %> &nbsp;
                <% else %>
                  <%= sr.name %> -
                <% end %>
              <% end %>
              <p>

          <% end %>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
          <p class="bg-success">
          5 = Able to build a full application and capible of teaching others,
          1 = Able to create "Hello World"
        </p>
        </td>
      </tr>
</table>
</div>
</div>

<h3><b>PROFILE</b></h3>
<p>
  Over several years I have been fortunate to have had many roles and positions which
  has given me the ability to think on my feet and provide solutions quickly and
  efficiently.
</p>

<h4><b>Professional Achievements: </b></h4>
<p>
My current position comprises of MSSQL, SSIS, SSAS, SSRS where I have created
and implemented a company wide analytic cube based on our ticketing system
(Autotask) and monitoring system (N-Able) to deliver real time information for
day to day business decisions. There is also and administration of Sharepoint,
CRM Dynamics, Autotask and small amounts of Azure, Office 365, MYSQL, sqLite,
Ruby on Rails and JavaScript.
</p>
<p>
The communication skills that I have gained over the years, and as Business
Intelligence/ Service Desk Manager, combines engaging with my team and customers
 on a daily basis including escalations and problem solving. Effective project
 management in my current position is vital to ensure that customer satisfaction
  is always high.
</p>
<p>
Currently I am learning and implementing CRM Dynamics 365 as our company’s
content management system and overseeing that company wide processes, procedures
 and standards are met. Prior to this I implemented Autotask as the company ITSM
  system.
</p>

<h4><b>Personal development:</b></h4>
<p>
I am personally learning Ruby on Rails for a personal application, this
application is a basic customer management system for property maintenance. The
design I have is around booking in jobs and employees, logging time on those
jobs and eventually quote/invoice management. I am also involved in developing
a second application with a team of several people, this application also
comprises of Meteor. I can provide a demonstration of these projects, if
required.
</p>
<p>
With this personal application I have been able to grasp the basic fundamentals
of Ruby on Rails and I have implemented small dashboard notification system
within my current workplace (Azure hosted).
</p>
<p>
I am proficient in Linux based operating systems (mainly Debian and Ubuntu) and
virtual private server deployment. It is vital in my mind to stick with best
practices and industry standards when writing an application.
</p>
<p>
  It is vital in my mind to stick with best practices and industry standards when writing
  an application.
</p>
<p>
  I will be further pursuing my studies within software development as I have a strong
  drive for creativity.
</p>
<p>
  For more details on my profile, including projects I have completed, please click the
  Github image above.
</p>
<!--
<%= render 'testspoton'%>
-->
