<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>


      <%= render 'layouts/header' %>



<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!-- Removed as they are listed at the top of the page
        <%= render 'layouts/skillstable' %>
      -->
      <%= render 'layouts/disciplinestable' %>
    </div>

    <div class="col-md-6 offsite-md-4">
      <%= yield %>
    </div>
  </div>

</div>
 <%= render 'layouts/footer' %>
 </body>
</html>
